.group10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.group10 .sqaure10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.group10 .sqaure10 h2 {
  color: #162542;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.75rem; /* 116.667% */
  text-transform: uppercase;
}

.group10 .sqaure10 p {
  color: #7b8bad;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

@media (min-width: 768px) {
  .group10 {
    width: 768px;
    height: 800px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  .group10 .sqaure10 h2 {
    text-align: left;
  }
  .group10 .sqaure10 p {
    width: 281px;
    text-align: left;
  }

  .group10 .sqaure10 {
    align-items: flex-start;
    gap: 40px;
  }
}

@media (min-width: 1440px) {
  .group10{
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    height: 0;
    transform: translate(0, -100px);
  }
}