.group6 {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.group6 h2 {
  color: #162542;
  width: 15.9375rem;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.25rem;
}

.group6 p {
  color: #7b8bad;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

@media (min-width: 768px) {
  .group6{
    flex-direction: row;
  }
  .group6 h2 {
    text-align: left;
  }
  .group6 p {
    width: 398px;
    text-align: left;
  }
  
}
