.app{
  width: 20.4375rem;
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3.75em;
}

@media (min-width: 768px){
  .app{
    width: 43.0625rem;
    gap: 5.625em;
    overflow: hidden;
  }
  
}

@media (min-width: 1440px){
  .app{
    width: 73.5rem;
  }
}